@charset "ISO-8859-1";





#div{
 
 display: block;
 
 
 }
 h1{

 display: block;	

	
	
}	


#headerVerification{
 
 margin: auto;
 max-width: 960px;
 
 
 }
 
 
  body{
 
    background: #077054;
    color: #315f52;
    font-family: 'latoregular';
    font-size: 14px;
    margin: 0;
    padding: 0;
 
 
 
 }
 
 
 
 
 
 #headerVerification h1{
 
    font-size: 80px;           
    font-weight: normal;       
    line-height: 50px;        
    margin: 0;
    padding: 30px 0;           
    text-align: center;        
 
 
 }
 
 #headerVerification h1 a {
    color: #99fa99;
    text-decoration: none;
    
   
 }
 
 
 #headerVerification h1 a span {               
    color: #b6d8cf;    
    display: block;                
    font-family: nixie_oneregular;
    font-size: 26px;
    text-transform: uppercase;
 }



#headerVerification ul#navbar {          
    list-style: none;             
    margin: 0;
    padding: 0;
    text-align: center;
 
}

li{
	
    text-align: -webkit-match-parent;	
	
	
}


#headerVerification ul#navbar li {
    display: inline;
    line-height: 30px;
    position: relative;
     color: #b6d8cf;
    font-size: 30px;
    padding: 0 46px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
}


#displayMessage{
	
	  margin: 100px auto 0;
	 background: #ffffff;
	 max-width: 800px;
	 max-height: 400px;
	 border-radius: 5px;
	 border-color: black;
	 font-style:  italic;
	 color: black;
	 font-size: 20px;
	 box-shadow: 5px 5px #888888;
	
	
}


